@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
}
body {
  font-family: 'Raleway Medium', sans-serif;
}

h1 {
  font-family: 'SK Regular', sans-serif;
}

p {
  font-family: 'Ardela X Bold', sans-serif;
}